@import url(https://fonts.googleapis.com/css?family=Montserrat);@import url(https://unpkg.com/flatpickr/dist/flatpickr.min.css);body {
  margin: 0; }

#main {
  width: 100vw;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  position: relative; }
  @media screen and (max-width: 900px) {
    #main {
      height: 100%;
      box-sizing: border-box; } }

#title {
  margin-top: 5%;
  text-align: center;
  color: #38076F;
  font-size: 4em; }
  @media screen and (max-width: 900px) {
    #title {
      font-size: 3em; } }

#app {
  overflow: hidden;
  height: 100%; }
  #app .todo-input {
    width: 40%;
    height: 100vh;
    float: left;
    box-sizing: border-box;
    padding: 1%;
    padding-bottom: 0;
    background-color: #f2e8fe; }
    @media screen and (max-width: 900px) {
      #app .todo-input {
        width: 100%;
        height: 100%; } }
    #app .todo-input .input-wrapper {
      width: 90%;
      margin: auto;
      margin-bottom: 5px; }
  #app .todo-detail {
    float: right;
    width: 60%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto;
    background: #38076F;
    color: #38076F; }
    @media screen and (max-width: 900px) {
      #app .todo-detail {
        width: 100%; } }

.todo-list {
  width: 80%;
  box-sizing: border-box;
  margin: 4% auto; }
  .todo-list .todo-text {
    width: 100%;
    min-height: 50px;
    border-radius: 5px;
    background: white;
    padding: 2%;
    box-sizing: border-box;
    word-break: break-all;
    position: relative; }
    .todo-list .todo-text p {
      margin: 0; }
      @media screen and (max-width: 900px) {
        .todo-list .todo-text p {
          line-height: 2; } }
    .todo-list .todo-text .delete-icon {
      position: absolute;
      padding-right: 15px;
      cursor: pointer;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      color: grey;
      transition: all 0.5s; }
      .todo-list .todo-text .delete-icon:hover {
        color: #ff6666;
        transition: all 0.5s;
        filter: drop-shadow(#cccccc 1px 1px 1px); }
  .todo-list .todo-date {
    text-align: right;
    margin-top: 5px;
    color: white; }
    @media screen and (max-width: 900px) {
      .todo-list .todo-date {
        font-size: 80%; } }

input {
  font-family: "Montserrat", sans-serif;
  border-radius: 7% / 50%;
  border: 2px solid rgba(128, 128, 128, 0.5);
  color: #4d4d4d; }

button, label {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25% / 50%;
  cursor: pointer;
  border: none;
  transition: all 0.5s; }

button:hover {
  transition: all 0.5s;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); }

.input-wrapper label, #add-btn {
  width: 20%;
  color: #f2e8fe;
  background: #38076F;
  font-weight: bold; }

.input-wrapper {
  display: flex;
  justify-content: center; }
  .input-wrapper input {
    width: 100%;
    padding: 10px 30px;
    height: 30px; }
  .input-wrapper label {
    width: 45%;
    cursor: auto;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
    @media screen and (max-width: 900px) {
      .input-wrapper label {
        width: 40%;
        font-size: 85%; } }

#add-btn {
  border-radius: 5px;
  width: 90%;
  height: 50px;
  margin: auto;
  margin-top: 5%; }

.flatpickr-input {
  border-left: none;
  border-radius: 10% / 50%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  @media screen and (max-width: 900px) {
    .flatpickr-input {
      width: 50% !important; } }

.flatpickr-calendar {
  font-family: "Montserrat", sans-serif; }

.divider {
  width: 90%;
  margin: 0%  auto;
  height: 3px;
  opacity: 0.5;
  background: #38076F; }
  @media screen and (max-width: 900px) {
    .divider {
      display: none; } }

.clock {
  color: white;
  margin-top: 0;
  margin-bottom: 4%;
  display: flex;
  align-items: center;
  padding: 3%;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
  justify-content: space-around; }
  .clock div {
    width: 50%;
    text-align: center;
    font-size: 250%;
    padding: 5%; }
    .clock div:first-child {
      font-size: 200%;
      color: #d2aefa; }
      @media screen and (max-width: 900px) {
        .clock div:first-child {
          font-size: 130%; } }
    @media screen and (max-width: 900px) {
      .clock div {
        font-size: 100%; } }
