@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://unpkg.com/flatpickr/dist/flatpickr.min.css');


$base-color: #38076F;
$light-base-color: lighten($base-color, 72%);
$base-font: 'Montserrat', sans-serif;

body {
    // padding: 0;
    margin: 0;
}

#main {
    width: 100vw;
    height: 100vh;
    font-family: $base-font;
    text-align: center;
    position: relative;

    @media screen and (max-width: 900px) {
        height: 100%;
        box-sizing: border-box;
    }
}

#title {
    margin-top: 5%;
    text-align: center;
    color: $base-color;
    font-size: 4em;

     @media screen and (max-width: 900px) {
            font-size: 3em;
        }
}

#app {
    overflow: hidden;
    height: 100%;

    .todo-input {
        width: 40%;
        height: 100vh;
        float: left;
        box-sizing: border-box;
        padding: 1%;
        padding-bottom: 0;
        background-color: $light-base-color;

        @media screen and (max-width: 900px) {
            width: 100%;
            height: 100%;
        }

        .input-wrapper {
            width: 90%;
            margin: auto;
            margin-bottom: 5px;
            //  background: white;
        }
    }

    .todo-detail {
        float: right;
        width: 60%;
        height: 100vh;
        box-sizing: border-box;
        overflow-y: auto;
        background: $base-color;
        color: $base-color;

        @media screen and (max-width: 900px) {
            width: 100%;
        }
    }
}

.todo-list {
    width: 80%;
    box-sizing: border-box;
    margin: 4% auto;

    .todo-text {
        width: 100%;
        min-height: 50px;
        border-radius: 5px;
        background: white;
        padding: 2%;
        box-sizing: border-box;
        word-break: break-all;
        position: relative;

        p {
            margin: 0;

             @media screen and (max-width: 900px) {
                line-height: 2;
            }
        }

        .delete-icon {
            position: absolute;
            padding-right: 15px;
            cursor: pointer;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);
            color: grey;
            transition: all 0.5s;

            &:hover {
                color: lighten(red, 20%);
                transition: all 0.5s;
                filter: drop-shadow(lighten(black, 80%) 1px 1px 1px);
            }
        }
    }

    .todo-date {
        text-align: right;
        margin-top: 5px; 
        color: white;

         @media screen and (max-width: 900px) {
            font-size: 80%;
        }
    }
}

input {
    font-family: $base-font;
    border-radius: 7% / 50%;
    border: 2px solid transparentize($color: grey, $amount: 0.5);
    color: lighten(black, 30%);
}

button, label {
    font-family: $base-font;
    display: flex;
    align-items: center;
    justify-content: center;
     border-radius: 25% / 50%;
    cursor: pointer;
    border: none;
    transition: all 0.5s;

}

button {
     &:hover {
        transition: all 0.5s;
        box-shadow: 1px 1px 10px transparentize($color: black, $amount: 0.5);
    }
}

%btn-label-base {
    width: 20%;
    // font-size: 1.25em;
    color: $light-base-color;
    background: $base-color;
    font-weight: bold;
}

.input-wrapper {
    display: flex;
    justify-content: center;

    input {
            width: 100%;
            padding: 10px 30px;
            height: 30px;
            // font-size: 1em;
    }

    label {
        @extend %btn-label-base;
        width: 45%;
        cursor: auto;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;

        @media screen and (max-width: 900px) {
            width: 40%;
            font-size: 85%;
        }
    }
}

#add-btn {
    @extend %btn-label-base;
    border-radius: 5px;
    width: 90%;
    height: 50px;
    margin: auto;
    margin-top: 5%;
}

.flatpickr-input {
    border-left: none;
    border-radius: 10% / 50%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    @media screen and (max-width: 900px) {
        width: 50% !important;
    }
}

.flatpickr-calendar {
    font-family: $base-font;
}

.divider {
    width: 90%;
    margin: 0%  auto;
    height: 3px;
    opacity: 0.5;
    background: $base-color;

    @media screen and (max-width: 900px) {
            display: none;
        }
}

.clock {
    color: white;
    margin-top: 0;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    padding: 3%;
    border-bottom: 3px solid transparentize(white, 0.5);
    justify-content: space-around;

    div {
        width: 50%;
        text-align: center;
        font-size: 250%;
        padding: 5%;

        &:first-child {
            font-size: 200%;
            color: lighten($base-color, 60%);

             @media screen and (max-width: 900px) {
                font-size: 130%;
            }
        }

        @media screen and (max-width: 900px) {
            font-size: 100%;
        }
    }
}